h2 {
    font-size: 1.5rem;
}
.pt-5 {
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}
.container {
    padding-left: 0;
    padding-right: 0; 
}
.card {
    position: relative;
    background-color: #fff;
    margin-bottom: 1.25rem;
    border: 1px solid #edf2f9;
    border-radius: .25rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.card-body {
    padding: 1.5rem;
    position: relative;
}
.card-body .h2 {
    font-size: 24px;
}
.badge-cyan {
    color: #00c9a7;
    background: rgba(0,201,167,0.1);
    border-color: transparent;
    font-weight: 500;
}
.badge {
    line-height: 1.7;
    padding: 0.25em 0.7em;
}
.badge.badge-dot {
    width: 7px;
    height: 7px;
    border-radius: 50px;
    padding: 0px;
}
.font-size-13 {
    font-size: 13px !important;
}
.progress-bar:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.progress.progress-sm {
    height: 4px;
}

.progress {
    height: 8px;
    background-color: #ececec;
    border-radius: 50px;
    margin-bottom: 20px;
    min-width: 50px;
}
.badge.badge-dot:empty {
    display: inline-block;
}

.badge.badge-dot {
    width: 7px;
    height: 7px;
    border-radius: 50px;
    padding: 0px;
}
.badge-red {
    color: #de4436;
    background: rgba(222,68,54,0.05);
    border-color: transparent;
    font-weight: 500;
}